include ./pug/mixins.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Airtrav
        <link rel="icon" type="image/x-icon" href="./Img/logo.png">
        link(rel="stylesheet" href="./style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap"
            rel="stylesheet")
    body
        section.topTour
            .container
                h2.mainTitle Top Bangkok Tours 
                .tour-list
                    +tourItem("./Img/Img1.png","$40", "Thailands Ayutthaya Temples Cruise from Bangkok",4.8, 9, 61)
                    +tourItem("./Img/Img2.png","$60", "FLoating Markets Day Trip from Bangkok",3.8, 5, 90)
                    +tourItem("./Img/Img3.png","$100", "Bangkok Dinner Cruise on the Chao Phraya River",4.6, 1, 50)
        section.popularThing
            .container
                h2.mainTitle Popular things to do in Bangkok
                .popular-list
                    +popularItem("./Img/Grand_Palace.jpg","Sep 28 12:00 AM - 1:00 PM","The Grand Palace")
                    +popularItem("./Img/Chatuchak-Weekend.jpg","Aug 28 1:00 AM - 19:00 PM","Chatuchak Weekend")
                    +popularItem("./Img/Wat-Pho.jpg","Jul 28 5:00 AM - 7:00 PM","Wat Pho")
                    +popularItem("./Img/Temple-Of-Dawn.jpg","Jan 28 10:00 AM - 1:00 PM","Temple Of Dawn")
        section.hiddenGem
            .container
                h2.mainTitle Hidden gems in Bangkok
                .hidden-list
                    //- +hiddenItem("./Img/brendan-greenway-SouFaFk9-KQ-unsplash 2.png","28 Sep, 2020")
                    //- +hiddenItem("./Img/jeremy-stewardson-mVEzfimrJoU-unsplash.jpg","27 Sep, 2020")
                    //- +hiddenItem("./Img/giacomo-carra-pIruxANHJm0-unsplash.jpg","7 Dec, 2020")
                    //- +hiddenItem("./Img/marijn-van-der-marel-u8gGFwzCvWw-unsplash.jpg","16 Feb, 2020")
                    each img in ["./Img/brendan-greenway-SouFaFk9-KQ-unsplash 2.png","./Img/jeremy-stewardson-mVEzfimrJoU-unsplash.jpg","./Img/giacomo-carra-pIruxANHJm0-unsplash.jpg","./Img/marijn-van-der-marel-u8gGFwzCvWw-unsplash.jpg"]
                        //- +hiddenItem(=img,"28 Sep, 2020")
