* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
}
.popular-container {
}
.popular-list {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    /* column-gap: 30px; */
}
.popular-item {
    width: calc(25% - 22.5px);
    margin-left: 30px;
}
.popular-image {
    height: 185px;
    display: block;
    position: absolute;
    object-fit: cover;
}
.popular-gradient {
    height: 185px;
    background: linear-gradient(
        24deg,
        rgba(4, 4, 4, 0.52) 0.23%,
        rgba(4, 4, 4, 0) 55.52%
    );
    position: relative;
}
.popular-mustSeeButton {
    display: inline-block;
}
.popular-button {
    color: #f4f5f6;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    padding: 4px 18px;
    background: #3b71fe;
}
.popular-content {
    padding: 14px 20px 11px;
}
.popular-time {
    color: #777e90;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    display: inline-block;
}
.popular-title {
    color: #353945;
    font-family: Inter;
    font-size: 18px;
    font-weight: inherit;
    line-height: calc(28 / 18);
}
.popular-rating {
    display: flex;
}
.rating-star {
    line-height: calc(21 / 12);
}
.popular-rating-amount {
    color: #4f4f4f;
    font-size: 12px;
    line-height: calc(21 / 12);
}
@media screen and (max-width: 767.98px) {
    body {
        margin: 0 24px;
    }
}
