* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
}
.popular-image {
    height: 185px;
    display: block;
}
.popular-mustSeeButton {
    display: inline-block;
}
.popular-button {
    color: #f4f5f6;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    padding: 4px 18px;
    background: #3b71fe;
}
.popular-time {
    color: #777e90;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    display: inline-block;
}
.popular-title {
    color: #353945;
    font-family: Inter;
    font-size: 18px;
    font-weight: inherit;
    line-height: calc(28 / 18);
}
.popular-rating {
    display: flex;
}
.rating-star {
    display: block;
}
.popular-rating-amount {
    display: block;
}
@media screen and (max-width: 767.98px) {
    body {
        margin: 0 24px;
    }
}
