section.hiddenGem
    .container
        h2.mainTitle Hidden gems in Bangkok
        .hidden-list
            +hiddenItem("./Img/brendan-greenway-SouFaFk9-KQ-unsplash 2.png","28 Sep, 2020")
            +hiddenItem("./Img/jeremy-stewardson-mVEzfimrJoU-unsplash.jpg","27 Sep, 2020")
            +hiddenItem("./Img/giacomo-carra-pIruxANHJm0-unsplash.jpg","7 Dec, 2020")
            +hiddenItem("./Img/marijn-van-der-marel-u8gGFwzCvWw-unsplash.jpg","16 Feb, 2020")
    a.button Explore All