section.popularThing
    .container
        h2.mainTitle Popular things to do in Bangkok
        .popular-list
            +popularItem("./Img/Grand_Palace.jpg","Sep 28 12:00 AM - 1:00 PM","The Grand Palace")
            +popularItem("./Img/Chatuchak-Weekend.jpg","Aug 28 1:00 AM - 19:00 PM","Chatuchak Weekend")
            +popularItem("./Img/Wat-Pho.jpg","Jul 28 5:00 AM - 7:00 PM","Wat Pho")
            +popularItem("./Img/Temple-Of-Dawn.jpg","Jan 28 10:00 AM - 1:00 PM","Temple Of Dawn")