section.topTour
    .container
        h2.mainTitle Top Bangkok Tours 
        .tour-list
            +tourItem("./Img/Img1.png","$40", "Thailands Ayutthaya Temples Cruise from Bangkok",4.8, 9, 61)
            +tourItem("./Img/Img2.png","$60", "FLoating Markets Day Trip from Bangkok",3.8, 5, 90)
            +tourItem("./Img/Img3.png","$100", "Bangkok Dinner Cruise on the Chao Phraya River",4.6, 1, 50)