mixin hiddenItem() 
                .hidden-item
                    .hidden-image-content
                        img.hidden-image(src= "./Img/blue-morning-natural-mountains-bamboo.png", alt='')
                        .hidden-gradient
                    .hidden-content
                        h3.hidden-title Bangkok Trip
                        span.hidden-time 27 Sep, 2020
